{% extends "base.html" %}

{% block content %}
	<div class="container col-sm-offset-2">
		{% for obj in object_list %}
		<div class="row">
			<div class="col-sm-8">
				<div class="thumbnail">
					<!-- <img src="..." alt="..."> -->
					<div class="caption">
						<h3>{{ obj.title }}</h3>
						<p> {{ obj.content }} </p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a></p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="pagination">
			<span class="step-links">
			{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
			</span>
		</div>
	</div>
{% endblock %}